# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
instructions/colores brand.pdf
instructions/components content.png
instructions/components.png
instructions/Home Desktop.png
instructions/Home Mobile.png
instructions/Home Tablet (large).png
instructions/Home Tablet (small).png
instructions/Icons.png
instructions/Info tooltip.png
instructions/instructions.md
instructions/layout.zip
instructions/logo.png
instructions/Mobile (1).png
instructions/Mobile.png
instructions/Prueba Acceso DUX.png
instructions/Prueba Acceso DUX.zip
instructions/Slider indicator.png
instructions/status tags.png
instructions/Tablet (filters) (1).png
instructions/Tablet (filters).png
instructions/Tags.png
instructions/time machine.png
instructions/Contexto prueba.png
