@use './tokens' as *;

@use './base/reset';
@use './base/typography';
@use './base/layout';
@use './base/accessibility-helpers';
@use './base/utilities';
@use './components/button';
@use './components/card';
@use './components/overlay';
@use './components/input';
@use './components/tag';
@use './components/slider';
@use './components/filters';
@use './components/navbar';
@use './components/hero';

/* Generar CSS vars globales */
:root {
  @include emit-color-css-vars();
}
